:root {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: "Press Start 2P", system-ui;
  font-size: 1.5rem;
  -webkit-text-stroke: 2px #242424;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border: none;
}
button:hover {
  transform: scale(1.1);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
